@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.home-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: home-loader 3s ease-in-out;
  animation-fill-mode: both;
}
.home-loader h1 {
  font-family: "shrikhand";
  font-size: 50px;
  text-align: center;
  animation: rotate-omyfood 3s ease-in-out;
  animation-fill-mode: both;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes home-loader {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-omyfood {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
@media screen and (min-width: 1400px) {
  .home-header .header-title {
    height: 96.34px;
  }
}
.home-header .header-title {
  color: #101010;
}
.home-header .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background: #eaeaea;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.home-header .location-container i {
  color: #353535;
  height: 16px;
}
.home-header .location-container p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #353535;
}

.main-container {
  height: 100%;
  margin: 0;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.reservation .reservation-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;
  margin: 40px 50px 10px 50px;
  color: #101010;
}
.reservation p {
  color: #353535;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
}

.reservation-btn {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 30px 0px 30px;
  transition: all 0.5s ease-in;
}

.reservation-btn:hover {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  padding: 15px 30px 0px 30px;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.functionning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 20px 50px 20px;
  gap: 30px;
}
@media screen and (min-width: 1400px) {
  .functionning {
    margin: 50px 180px 50px 180px;
  }
}
.functionning .section-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  color: #101010;
}

.functionning-choose {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24.92px;
}
@media screen and (min-width: 1400px) {
  .functionning-choose {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .functionning-choose {
    flex-direction: row;
  }
}
.functionning-choose .choose {
  position: relative;
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 20px;
  height: 72.38px;
  width: 98%;
  align-items: center;
  margin-left: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.functionning-choose .icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 20px;
  gap: 30px;
}
@media screen and (min-width: 1400px) {
  .functionning-choose .icon-group {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .functionning-choose .icon-group {
    width: 70%;
  }
}
.functionning-choose .icon-group i {
  font-size: 20px;
  color: #7e7e7e;
}
.functionning-choose .icon-group p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #101010;
}
.functionning-choose .icon-group .fa-store {
  color: #9356dc;
}
.functionning-choose .number-radius {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  left: -10px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  text-align: left;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  margin: 75px 0px 0px 0px;
  background-color: #f6f6f6;
}
.restaurant-container .section-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}
@media screen and (min-width: 1400px) {
  .restaurant-container .section-title {
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 28px;
  }
}
.restaurant-container .card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
@media screen and (min-width: 1400px) {
  .restaurant-container .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 180px;
    margin-right: 180px;
    gap: 50px 100px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-container .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.restaurant-container .card {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}
@media screen and (min-width: 1400px) {
  .restaurant-container .card {
    margin: 0;
  }
}
.restaurant-container .card-img {
  position: relative;
}
.restaurant-container .card-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
  border: none;
  border-radius: 2px;
  text-align: center;
  padding: 8px;
}
.restaurant-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
}
.restaurant-container .card-title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  color: #101010;
  margin-left: 15px;
}
.restaurant-container .card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 70px;
  gap: 5px;
  margin-left: 5px;
}
.restaurant-container .card-description .card-heart {
  display: flex;
  position: absolute;
  margin-bottom: 15px;
  align-items: center;
  right: 5px;
  color: #101010;
}
.restaurant-container .card-description .card-heart .fa-full {
  position: absolute;
  font-size: 25px;
  margin-right: 10px;
  right: 10px;
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2000ms ease;
}
.restaurant-container .card-description .card-heart:active .fa-solid {
  opacity: 1;
}
@media screen and (min-width: 1400px) {
  .restaurant-container .card-description .card-heart:hover .fa-solid {
    opacity: 1;
  }
}
.restaurant-container .card-description .card-heart .fa-empty {
  position: absolute;
  font-size: 25px;
  margin-right: 10px;
  right: 10px;
}
.restaurant-container .card-text {
  margin-left: 15px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  text-align: left;
  color: #101010;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
  gap: 7px;
  height: 186px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    padding-right: 40px;
  }
}
.footer .logo-footer {
  display: flex;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer .logo-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
  }
}
.footer .logo-footer h3 {
  margin-top: 22px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  color: #ffffff;
}
.footer .infos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .footer .infos-container {
    flex-direction: row;
  }
}
.footer .link-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .footer .link-footer {
    flex-direction: row;
    margin-right: 25px;
    margin-top: 40px;
    gap: 25px;
  }
}
.footer .footer-icon {
  display: flex;
  gap: 10px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
.footer i {
  width: 20px;
}
.footer .text-footer {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .footer .text-footer {
    margin-top: 40px;
  }
}

.restaurant-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .restaurant-header {
    height: 96.34px;
  }
}
.restaurant-header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.restaurant-header .header-title h1 {
  font-family: "shrikhand";
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  color: #101010;
}

.fa-arrow-left {
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 25px;
  color: #101010;
}

.img-menu {
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: -40px;
}
.img-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .img-menu img {
    height: 383px;
  }
}

.menu-container {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
}
@media (min-width: 768px) {
  .menu-container {
    margin-left: 150px;
    margin-right: 150px;
    width: auto;
  }
}
.menu-container .title {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 35px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .menu-container .title {
    justify-content: center;
    gap: 70px;
  }
}
.menu-container .title .title-heart {
  display: flex;
  align-items: center;
  position: relative;
}
.menu-container .title .title-heart .fa-full {
  position: absolute;
  font-size: 25px;
  right: 10px;
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2000ms ease;
}
.menu-container .title .title-heart:active .fa-solid {
  opacity: 1;
}
.menu-container .title .title-heart:hover .fa-solid {
  opacity: 1;
}
.menu-container .title .title-heart .fa-empty {
  position: absolute;
  font-size: 25px;
  right: 10px;
}
.menu-container .menu-title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 40.82px;
  text-align: left;
  margin-left: 10px;
}
.menu-container .choose-container {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 13px;
  gap: 12px;
  margin-bottom: 30px;
}
.menu-container .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  cursor: pointer;
}
.menu-container .card-container:active .card-button {
  width: 59px;
}
.menu-container .card-container:active .card {
  width: 60%;
}
.menu-container .card-container:active .card-description {
  width: 99%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container .card-container:active .card-title {
  width: 99%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1400px) {
  .menu-container .card-container:hover .card-button {
    width: 59px;
  }
  .menu-container .card-container:hover .card {
    width: 60%;
  }
  .menu-container .card-container:hover .card-description {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu-container .card-container:hover .card-title {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.menu-container .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
.menu-container .price {
  display: flex;
  height: 100%;
  gap: 15px;
  font-family: "Roboto";
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: center;
}
.menu-container .price p {
  margin-top: 40px;
}
.menu-container .card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0px;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  transition: all 0.8s;
}
.menu-container .card-button i {
  font-size: 20px;
  color: #ffffff;
}
.menu-container .choose-title {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  padding-bottom: 5px;
}
.menu-container #choose-container-1 {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 13px;
  gap: 12px;
  margin-bottom: 30px;
  animation: choose-1 3s ease-in-out;
  animation-fill-mode: backwards;
}
@media (min-width: 1400px) {
  .menu-container #choose-container-1 {
    margin-left: 210px;
    margin-right: 210px;
  }
}
.menu-container #choose-container-2 {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 13px;
  gap: 12px;
  margin-bottom: 30px;
  animation: choose-2 4s ease-in-out;
  animation-fill-mode: backwards;
}
@media (min-width: 1400px) {
  .menu-container #choose-container-2 {
    margin-left: 210px;
    margin-right: 210px;
  }
}
.menu-container #choose-container-3 {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 13px;
  gap: 12px;
  margin-bottom: 30px;
  animation: choose-3 5s ease-in-out;
  animation-fill-mode: backwards;
}
@media (min-width: 1400px) {
  .menu-container #choose-container-3 {
    margin-left: 210px;
    margin-right: 210px;
  }
}
@keyframes choose-1 {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, -200%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0px, 0%);
    scale: 0.8;
    opacity: 1;
  }
}
@keyframes choose-2 {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, -300%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0px, 0%);
    scale: 0.9;
    opacity: 1;
  }
}
@keyframes choose-3 {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, -250%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0px, 0px);
    scale: 1;
    opacity: 1;
  }
}
.menu-container .card-title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}
.menu-container .card-description {
  font-family: "Roboto";
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
  text-align: left;
}
.menu-container .commander-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.menu-container .commander-btn {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 50px 0px 50px;
  margin: 10px;
  transition: all 0.5s ease-in;
}
.menu-container .commander-btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
  gap: 7px;
  height: 186px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    padding-right: 40px;
  }
}
.footer .logo-footer {
  display: flex;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer .logo-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
  }
}
.footer .logo-footer h3 {
  margin-top: 22px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  color: #ffffff;
}
.footer .infos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .footer .infos-container {
    flex-direction: row;
  }
}
.footer .link-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .footer .link-footer {
    flex-direction: row;
    margin-right: 25px;
    margin-top: 40px;
    gap: 25px;
  }
}
.footer .footer-icon {
  display: flex;
  gap: 10px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
.footer i {
  width: 20px;
}
.footer .text-footer {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .footer .text-footer {
    margin-top: 40px;
  }
}

.home-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: home-loader 3s ease-in-out;
  animation-fill-mode: both;
}
.home-loader h1 {
  font-family: "shrikhand";
  font-size: 50px;
  text-align: center;
  animation: rotate-omyfood 3s ease-in-out;
  animation-fill-mode: both;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes home-loader {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-omyfood {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-heart {
  display: flex;
  position: absolute;
  margin-bottom: 15px;
  align-items: center;
  right: 5px;
  color: #101010;
}
.card-heart .fa-full {
  position: absolute;
  font-size: 25px;
  margin-right: 10px;
  right: 10px;
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2000ms ease;
}
.card-heart:active .fa-solid {
  opacity: 1;
}
@media screen and (min-width: 1400px) {
  .card-heart:hover .fa-solid {
    opacity: 1;
  }
}
.card-heart .fa-empty {
  position: absolute;
  font-size: 25px;
  margin-right: 10px;
  right: 10px;
}

.reservation-btn {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 30px 0px 30px;
  transition: all 0.5s ease-in;
}

.reservation-btn:hover {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  padding: 15px 30px 0px 30px;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
@media screen and (min-width: 1400px) {
  .home-header .header-title {
    height: 96.34px;
  }
}
.home-header .header-title {
  color: #101010;
}
.home-header .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background: #eaeaea;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.home-header .location-container i {
  color: #353535;
  height: 16px;
}
.home-header .location-container p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #353535;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
  gap: 7px;
  height: 186px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
    padding-right: 40px;
  }
}
.footer .logo-footer {
  display: flex;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer .logo-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
  }
}
.footer .logo-footer h3 {
  margin-top: 22px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  color: #ffffff;
}
.footer .infos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .footer .infos-container {
    flex-direction: row;
  }
}
.footer .link-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .footer .link-footer {
    flex-direction: row;
    margin-right: 25px;
    margin-top: 40px;
    gap: 25px;
  }
}
.footer .footer-icon {
  display: flex;
  gap: 10px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
.footer i {
  width: 20px;
}
.footer .text-footer {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .footer .text-footer {
    margin-top: 40px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */