@mixin header-flex-title{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
}
@mixin ohmyfood-mobile{
font-family:"shrikhand";
font-size: 30px;
font-weight: 400;
line-height: 43.74px;
text-align: center;
}
@mixin location{
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
text-align: left;

}
@mixin menu-title{
    font-family: 'Shrikhand';
font-size: 28px;

font-weight: 400;
line-height: 40.82px;
text-align: left;
}
@mixin reservation-title{
    font-family: 'Roboto';
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
text-align:center;

}
@mixin section-title{
font-family: 'Roboto';
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
text-align:left;
}

@mixin choix-title{
font-family: 'Roboto';
font-size: 18px;
font-weight: 300;
line-height: 21.09px;
text-align: center;
}
@mixin button{
font-family:'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: center;

}
@mixin menu-name{
    font-family: 'Roboto';
font-size: 16px;
font-weight: 300;
line-height: 18.75px;
text-align: left;

}

@mixin plat-name{
font-family: 'Roboto';
font-size: 18px;
font-weight: 500;
line-height: 21.09px;
text-align: left;
}

@mixin plat-description{
font-family: 'Roboto';
font-size: 15.04px;
font-weight: 300;
line-height: 17.63px;
text-align: left;
}

@mixin price{
font-family: 'Roboto';
font-size: 15.04px;
font-weight: 700;
line-height: 17.63px;
text-align: center;
}

@mixin function-choice{
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

}
@mixin function-number{
font-family: 'Roboto';
font-size: 14.18px;
font-weight: 500;
line-height: 16.62px;
text-align: left;

}
@mixin card-title{
    font-family: 'Roboto';
font-size: 18px;
font-weight: 700;
line-height: 21.09px;
text-align: left;

}
@mixin btn-new{
font-family: 'Roboto';
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
text-align: center;

}
@mixin localité-text{
font-family: 'Roboto';
font-size: 17px;
font-weight: 300;
line-height: 19.92px;
text-align: left;

}
@mixin logo-footer{
    font-family: 'Shrikhand';
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 26.24px;
text-align: left;

}
@mixin icon-footer{
    font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

}
@mixin text-footer{
    font-family:'Roboto';
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;

}
