// police robotino

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// police shrikhand

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// couleurs
@import './_variables';

// mixins
@import './_mixins';

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}

//************************ Header*************************************
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-title{
        @include ohmyfood-mobile;
        color: $fond-black;
    }
    .location-container{
        display: flex;
    }
    .location-container i{
        
        color: aqua

    }
    .location-container p{
        @include location;
        color: #353535;

    }
}
h1{
    @include menu-title;
}