@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.reservation-btn {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0px 30px 0px 30px;
}

.reservation-btn:hover {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  border: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  padding: 0px 30px 0px 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.header .header-title p {
  font-family: "shrikhand";
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  color: #101010;
}
.header .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background: #eaeaea;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.header .location-container i {
  color: #353535;
  height: 16px;
}
.header .location-container p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #353535;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.reservation .section-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin: 40px 40px 15px;
  color: #101010;
}
.reservation p {
  color: #353535;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 20px 50px 20px;
}
.fonctionnement .section-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: #101010;
}
.fonctionnement .choisissez {
  position: relative;
  display: flex;
  justify-content: center;
  background: #F6F6F6;
  border-radius: 20px;
  height: 72.38px;
  width: 98%;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement .phone-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 20px;
  gap: 30px;
}
.fonctionnement .phone-group i {
  font-size: 20px;
  color: #7E7E7E;
}
.fonctionnement .phone-group p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #101010;
}
.fonctionnement .phone-group .fa-store {
  color: #9356DC;
}
.fonctionnement .number-radius {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  left: -10px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  text-align: left;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px 0px;
  background-color: #F6F6F6;
}
.restaurant-container .section-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 20px;
}
.restaurant-container .card {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}
.restaurant-container .card-img {
  position: relative;
}
.restaurant-container .card-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
  border: none;
  border-radius: 2px;
}
.restaurant-container img {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
}
.restaurant-container .card-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  color: #101010;
}
.restaurant-container .card-description {
  position: relative;
  height: 50px;
}
.restaurant-container .card-title {
  margin-left: 15px;
}
.restaurant-container .card-text {
  margin-left: 15px;
}
.restaurant-container .card-description i {
  position: absolute;
  top: 10px;
  right: 10px;
}/*# sourceMappingURL=style.css.map */