.home-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  // z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: home-loader 3s ease-in-out;
  animation-fill-mode: both;

  & h1 {
    font-family: "shrikhand";
    font-size: 50px;
    text-align: center;
    animation: rotate-omyfood 3s ease-in-out;
    animation-fill-mode: both;

  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

;

@keyframes home-loader {
  0% {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
    z-index: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-omyfood {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }

}