#choose-container-1 {
    display: flex;
    flex-direction: column;

    margin-left: 13px;
    margin-right: 13px;
    gap: 12px;
    margin-bottom: 30px;
    animation: choose-1 3s ease-in-out;
    animation-fill-mode: backwards;
    
        @media (min-width:1400px) {
            margin-left: 210px;
            margin-right: 210px;
        }

    
     

}
#choose-container-2 {
    display: flex;
    flex-direction: column;

    margin-left: 13px;
    margin-right: 13px;
    gap: 12px;
    margin-bottom: 30px;
    animation: choose-2 4s ease-in-out;
    animation-fill-mode: backwards;
    @media (min-width:1400px) {
        margin-left: 210px;
        margin-right: 210px;
    }
     
}
#choose-container-3 {
    display: flex;
    flex-direction: column;

    margin-left: 13px;
    margin-right: 13px;
    gap: 12px;
    margin-bottom: 30px;
    animation: choose-3 5s ease-in-out;
    animation-fill-mode: backwards;
    @media (min-width:1400px) {
        margin-left: 210px;
        margin-right: 210px;
    }
     
}





@keyframes choose-1 {

    0% {
    transform:    translate( 0px, 0px);
        opacity: 0;
    }
    50%{
      transform:  translate( 0px ,-200%);
        opacity: 0.5;
    }
    

    100% {
      transform:   translate( 0px, 0%);
        scale: 0.8;
        opacity: 1;
        
    }
}

@keyframes choose-2 {

    0% {
       transform:  translate(0px, 0px);
        opacity: 0;
    }
    50%{
      transform:   translate( 0px ,-300%);
        opacity: 0.5;
    }
    

    100% {
      transform:   translate(0px, 0%);
        scale:0.9;
        opacity: 1;
        
    }
}

@keyframes choose-3 {

    0% {
     transform:    translate( 0px ,0px);
        opacity: 0;
    }
    50%{
      transform:  translate( 0px, -250%);
        opacity: 0.5;
    }
    

    100% {
      transform:   translate( 0px, 0px);
        scale: 1;
        opacity: 1;
    
    }
}

