@import "../utils/mixins";
@import "../utils/variables";

.restaurant-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  @media screen and (min-width:1400px) {
    height: 96.34px;

  }

  .header-title {
    @include header-flex-title;
  }

  .header-title h1 {
    @include ohmyfood-mobile;
    color: $fond-black;
  }

}